[package]
name = "dlt-examples"
version = "0.1.0"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/strawlab/dlt"

[dependencies]
dlt = {path=".."}
cam-geom = "0.8"
nalgebra = "0.27"
approx = "0.5"
